#navbar-nav {
    background-color: #212529;
}

.navbar-container {
    display: flex;
    margin: 0px 5em;
}

.navbar-logo {
    height: 100px;
}

.navbar-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.navbar-item {
    list-style-type: none;
    margin-left: 2em;
}

.navbar-link {
    color: white;
    text-decoration: none;
}

@media (max-width: 576px) {
    .navbar-container {
        flex-direction: column;
        text-align: center;
        margin: 0px;
    }

    .navbar-list {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
    }

    .navbar-item {
        list-style-type: none;
        margin-left: 0px;
        margin-bottom: 2em;
    }
}