@mixin small-device()
    @media (max-width: 767.98px)
        @content
@mixin medium-device()
    @media (min-width:768px) and (max-width: 1199.98px)
        @content
.navbar
    font-family: "Akaya Telivigala", cursive
    background-color: rgba(0,0,0,0.5)
    width: 100%
    &__container
        display: flex
        margin: 0px 200px
        @include small-device()
            flex-direction: column
            text-align: center
            margin: 0px
        @include medium-device()
            margin: 0px 100px
    &__logo
        height: 100px
    &__list
        display: flex
        align-items: center
        justify-content: flex-end
        width: 100%
        @include small-device()
            margin-top: 1em
            flex-direction: column
    &__item
        list-style-type: none
        margin-left: 2em
        @include small-device()
            margin-left: 0px
            margin-bottom: 2em
    &__link
        color: white
        text-decoration: none
        &:hover
            color: #A9A9A9
            transition: 0.5s
