video {
  object-fit: fill;
}

.index--banner {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.index--banner__video {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  z-index: -1;
}
.index--banner__slogan {
  margin-bottom: 5em;
}
@media (max-width: 767.98px) {
  .index--banner__slogan {
    margin: 2em 0px;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .index--banner__slogan {
    margin: 2em 0px;
  }
}
.index--banner__slogan__title {
  text-align: center;
  font-size: 3em;
  margin-bottom: 0.5em;
  font-family: "Akaya Telivigala", cursive;
  color: white;
}
.index--banner__slogan__message {
  font-size: 2em;
  color: white;
}
@media (max-width: 767.98px) {
  .index--banner {
    height: calc(100vh - 260px);
  }
}

.index--apresentation {
  display: flex;
  margin: 3em 200px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767.98px) {
  .index--apresentation {
    margin: 3em 0px;
    flex-direction: column;
    padding: 0px 2em;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .index--apresentation {
    margin: 100px;
    flex-direction: column;
  }
}
.index--apresentation__img {
  width: 50%;
  border-radius: 10px;
}
@media (max-width: 767.98px) {
  .index--apresentation__img {
    margin-bottom: 3em;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .index--apresentation__img {
    margin-bottom: 3em;
    width: 100%;
  }
}
.index--apresentation__msg {
  font-size: 2em;
  margin-left: 2em;
  line-height: 1.25em;
}
@media (max-width: 767.98px) {
  .index--apresentation__msg {
    font-size: 1.75em;
    line-height: 1.25em;
    margin-left: 0px;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .index--apresentation__msg {
    line-height: 1.5em;
    margin-left: 0px;
  }
}
.index--apresentation__msg span {
  font-family: "Akaya Telivigala", cursive;
  font-size: 1.75em;
}
@media (max-width: 767.98px) {
  .index--apresentation__msg span {
    font-size: 1.5em;
  }
}

.index--aboutUs {
  background-color: #212529;
  padding: 3em 0px;
}
@media (max-width: 767.98px) {
  .index--aboutUs {
    padding: 2em;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .index--aboutUs {
    padding: 1px 0px;
  }
}
.index--aboutUs__container {
  margin: 0px 200px;
}
@media (max-width: 767.98px) {
  .index--aboutUs__container {
    margin: 0px;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .index--aboutUs__container {
    margin: 100px;
  }
}
.index--aboutUs__title {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 2em;
  color: white;
  font-family: "Akaya Telivigala", cursive;
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .index--aboutUs__title {
    margin-bottom: 1.5em;
  }
}
.index--aboutUs__details {
  display: flex;
  align-items: center;
  text-align: center;
}
@media (max-width: 767.98px) {
  .index--aboutUs__details {
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .index--aboutUs__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.index--aboutUs__list {
  width: 50%;
  text-align: center;
  color: white;
  font-size: 1.5em;
  align-items: center;
}
.index--aboutUs__list__item:nth-child(n+2) {
  margin-top: 2em;
}
@media (max-width: 767.98px) {
  .index--aboutUs__list__item:nth-child(n+2) {
    margin-top: 1.5em;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .index--aboutUs__list__item:nth-child(n+2) {
    margin-top: 1.5em;
  }
}
@media (max-width: 767.98px) {
  .index--aboutUs__list {
    width: 100%;
    margin-bottom: 2em;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .index--aboutUs__list {
    width: 100%;
    margin-bottom: 2em;
  }
}
.index--aboutUs__image {
  width: 50%;
  border-radius: 10px;
}
@media (max-width: 767.98px) {
  .index--aboutUs__image {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .index--aboutUs__image {
    width: 100%;
  }
}

.index--latestVideo {
  text-align: center;
}
@media (max-width: 767.98px) {
  .index--latestVideo {
    text-align: center;
  }
}
.index--latestVideo__container {
  margin-top: 5em;
  margin-bottom: 2em;
}
.index--latestVideo__title {
  font-size: 2.5em;
  margin-bottom: 1em;
  font-family: "Akaya Telivigala", cursive;
}
@media (max-width: 767.98px) {
  .index--latestVideo__title {
    font-size: 2em;
    margin-bottom: 1em;
  }
}
.index--latestVideo__video {
  width: 50%;
  height: 500px;
  background-color: #292929;
  padding: 1em;
  border-radius: 10px;
}
@media (max-width: 767.98px) {
  .index--latestVideo__video {
    width: 80%;
    height: 300px;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .index--latestVideo__video {
    width: 70%;
    height: 500px;
  }
}

/*# sourceMappingURL=style.css.map */
