.index--aboutUs
    background-color: #212529
    padding: 3em 0px
    @include small-device()
        padding: 2em
    @include medium-device()
        padding: 1px 0px
    &__container
        margin: 0px 200px
        @include small-device()
            margin: 0px
        @include medium-device()
            margin: 100px
    &__title
        font-size: 2.5em
        text-align: center
        margin-bottom: 2em
        color: white
        font-family: "Akaya Telivigala", cursive
        @include medium-device()
            margin-bottom: 1.5em
    &__details
        display: flex
        align-items: center
        text-align: center
        @include small-device()
            flex-direction: column
        @include medium-device()
            display: flex
            flex-direction: column
            align-items: center
            text-align: center
    &__list
        width: 50%
        text-align: center
        color: white
        font-size: 1.5em
        align-items: center
        &__item:nth-child(n + 2)
            margin-top: 2em
            @include small-device()
                margin-top: 1.5em
            @include medium-device()
                margin-top: 1.5em
        @include small-device()
            width: 100%
            margin-bottom: 2em
        @include medium-device()
            width: 100%
            margin-bottom: 2em
    &__image
        width: 50%
        border-radius: 10px
        @include small-device()
            width: 100%
        @include medium-device()
            width: 100%