.index--apresentation
    margin: 3em 304px
    display: flex
    align-items: center
    @include max-992px()
        flex-direction: column
    
.index--apresentation__image
    width: 90%
    border-radius: 10px

.index--apresentation__div--image
    width: 50%
.index--apresentation__msg 
    width: 50%
    font-size: 2em
    letter-spacing: 1px
    line-height: 1.5em