.index--latestVideo
    text-align: center
    @include small-device()
        text-align: center
    &__container
        margin-top: 5em
        margin-bottom: 2em
    &__title
        font-size: 2.5em
        margin-bottom: 1em
        font-family: "Akaya Telivigala", cursive
        @include small-device()
            font-size: 2em
            margin-bottom: 1em
    &__video
        width: 50%
        height: 500px
        background-color: #292929
        padding: 1em
        border-radius: 10px
        @include small-device()
            width: 80%
            height: 300px
        @include medium-device()
            width: 70%
            height: 500px