@mixin small-device()
    @media (max-width: 767.98px)
        @content
@mixin medium-device()
    @media (min-width:768px) and (max-width: 1199.98px)
        @content

.services
  margin: 2em 200px
  @include small-device()
    margin: 2em 0px
  @include medium-device()
    margin: 2em 100px
  &__container
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    width: 100%
    @include small-device()
      flex-direction: column
  &__box
    border: 1px solid lightgray
    border-radius: 20px
    width: 25%
    padding: 1em 0px
    @include small-device()
      width: 50%
      margin-left: 25vw
      &:not(:nth-child(1))
        margin-top: 2em
    @include medium-device()
      width: 30%
    &:nth-child(n + 4)
      margin-top: 2em
    &__div
      margin-left: 1em
    &__image
      width: 100%
    &__title
      font-size: 1.5em
      font-weight: 600
    &__msg
      font-size: 1em
      margin: 1em 0px
      font-weight: 600
    &__price
      color: gray
      font-size: 1em
      font-weight: 600
      margin-top: 2em
